node_modules
packages/server/node_modules
packages/client/node_modules
packages/shared/node_modules
packages/server/dist
packages/client/public/scripts
packages/shared/dist
webpack.config.js
jest.config.js